/*
paths
====================================================================== */
$path-to-assets: "../../src/media/";
$path-to-icons: $path-to-assets + "icons/";
$path-to-images: $path-to-assets + "img/";
$path-to-embedded-images: $path-to-images + "embed/";
$path-to-fonts: $path-to-assets + "fonts/";
$path-to-locale-fonts: "../../" + "fonts/locales/";
$logo-sprite-url: $path-to-assets + "web-docs-sprite.svg";

/*
svg icons base paths
svg icons located in jinja2/includes/icons
====================================================================== */
$path-to-svg-arrow-icons: $path-to-icons + "arrows/";
$path-to-svg-bc-general-icons: $path-to-icons + "browser-compat-general/";
$path-to-svg-browser-icons: $path-to-icons + "browsers/";
$path-to-svg-emoji-icons: $path-to-icons + "emojis/";
$path-to-svg-file-icons: $path-to-icons + "file-icons/";
$path-to-svg-form-icons: $path-to-icons + "forms/";
$path-to-svg-general-icons: $path-to-icons + "general/";
$path-to-svg-notification-icons: $path-to-icons + "notifications/";
$path-to-svg-platform-icons: $path-to-icons + "platforms/";
$path-to-svg-punctuation-icons: $path-to-icons + "punctuation/";
$path-to-svg-social-icons: $path-to-icons + "social/";
$path-to-svg-tool-icons: $path-to-icons + "tools/";
$path-to-svg-user-icons: $path-to-icons + "user/";
$path-to-svg-web-service-icons: $path-to-icons + "web-service/";
