/*
Grid
====================================================================== */

/*
grid - 12 columns assuming a 3% margin
-------------------------------------------------------------- */
@function -calc-col-width($col-span) {
  $grid-margin-numb: $grid-margin / 1%; // remove percent unit
  $col-percent: (100 - $grid-margin-numb * 11) / 12 * $col-span +
    $grid-margin-numb * ($col-span - 1);
  $col-percent: if($col-percent > 100, 100, $col-percent); // not over 100
  $col-percent: $col-percent;
  $col-percent: $col-percent * 1%; // add % unit
  @return $col-percent;
}

@mixin column-1() {
  width: -calc-col-width(1); // 5.583%;
}
@mixin column-2() {
  width: -calc-col-width(2); // 14.167%;
}
@mixin column-3() {
  width: -calc-col-width(3); // 22.75%;
}
@mixin column-strip() {
  width: -calc-col-width(3); // 22.75%;
}
@mixin column-quarter() {
  width: -calc-col-width(3); // 22.75%;
}
@mixin column-4() {
  width: -calc-col-width(4); // 31.333%;
}
@mixin column-third() {
  width: -calc-col-width(4); // 31.333%;
}
@mixin column-5() {
  width: -calc-col-width(5); // 39.917%;
}
@mixin column-6() {
  width: -calc-col-width(6); // 48.5%;
}
@mixin column-half() {
  width: -calc-col-width(6); // 48.5%;
}
@mixin column-7() {
  width: -calc-col-width(7); // 57.083%;
}
@mixin column-8() {
  width: -calc-col-width(8); // 65.667%;
}
@mixin column-9() {
  width: -calc-col-width($grid-width-column-main); // 74.25%
}
@mixin column-main() {
  width: -calc-col-width($grid-width-column-main); // 74.25%
}
@mixin column-10() {
  width: -calc-col-width(10); // 82.833%;
}
@mixin column-11() {
  width: -calc-col-width(11); // 91.417%;
}
@mixin column-12() {
  width: auto;
  margin: 0;
  float: none;
}
@mixin column-all() {
  width: auto;
  margin: 0;
  float: none;
}
